# Core
numpy<2
pandas
scikit-learn
opencv-python-headless
pillow
matplotlib
rich
psutil

# PyTorch / MONAI stack
--extra-index-url https://download.pytorch.org/whl/cu124
torch
torchvision
monai
# Modelo sem timm/dali

# TFRecord reader
crc32c
google-crc32c
tfrecord

# Typing
typing_extensions
